@import "styles/mixins";

.books {
  padding: 20px 0;

  @include Mobile {
    padding: 0;
  }
}

.bookList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}
